{% extends "layout.html" %}

{% block scripts %}
{{ super() }}
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
      a: $('input[name="a"]').val(),
      b: $('input[name="b"]').val()
      }, function(data) {
        $('#result').text(data.result);
      });
      return false;
    });
  }) ;
</script>
{% endblock %}

{% block page_content %}
<h1>jQuery Example</h1>
<p><input type=text class="input" name=a> +
   <input type=text class="input" name=b> =
   <span id=result>?<span>
<p><a href="#" id=calculate>calculate server side</a>

Hello,
{% if current_user.is_authenticated %}
{{ current_user.username }}
{% else %}
Stranger
{% endif %}!
{% endblock %}
