{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Grity - Post{% endblock %}

{% block page_content %}
{% include "_posts.html" %}

<h2>Comment</h2>
{{ wtf.quick_form(form) }}
<ul>
  {% for comment in comments %}
  {% if not comment.disabled or current_user.is_administrator %}
  <li>
    <div><strong>{{ comment.username }}</strong></div>
    <div><p>{{ comment.content }}</p></div>
    {% if current_user.is_administrator %}
      {% if comment.disabled %}
      <a class="btn btn-default btn-xs" href="{{ url_for('main.comment_moderate',
        id=comment.id) }}">Enable</a>
      {% else %}
      <a class="btn btn-danger btn-xs" href="{{ url_for('main.comment_moderate',
        id=comment.id) }}">Disable</a>
      {% endif %}
    {% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endblock %}
